:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f2328;
  background-color: #f6f8fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
